.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-text-1 {
  width: 305px;
  margin: 74px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 227px;
  width: 324px;
  margin: 169px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 24px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}